* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header  {
    background-color: black;
    text-align: center;
}
.top {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    padding: 15px 0;
}
a { 
    text-decoration: none;
    color: white;
}
.con {
    width: 1200px;
    margin: auto;

}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    padding: 5px; 
}

.nav-bar li {
    list-style: none;
   font-size: large;
  text-align: center;
  text-transform: uppercase;
   padding: 15px;
}
.logo img {
    width: 61px;
    height: 41px;
}
.nav-list {
    display: flex;
    color: black;
}
.content{
    text-transform: capitalize;
    font-weight: bold;
}
.nav-below{
    background-color: rgb(238, 236, 236);
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid gainsboro;
}
.banner {
    width: 100%;
    position: relative;
    margin: 3rem 0;
}
.banner-content {
    width: 100%;  
}
.banner-content video {
    width: 100%;
    object-fit: cover;
    
}
.banner-top-content {
    width: 22.5rem;
    position: absolute;
    top: 19rem;
    left: 7rem; 
   
}
.banner-top-content h3 {
    background-color: white;
    color: black;
    padding: 0.2rem;
    text-transform: uppercase;
   letter-spacing: 0.2rem;
   display: inline-block;
}
.banner-top-content p {
    background-color: white;
    color: black;
    display: inline-block;
    margin: 1rem 0;
    padding: 0.2rem;
    overflow: wrap;
}
.banner-top-content button {
    padding: 0.4rem;
    border: 1px solid white;
}
.decouvre{
    width: 100%;
    margin: auto;
}
.decouvre  h2{
  width: 1200px;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  position: relative;
}
.box {
    width: 1200px;
    margin: auto;
    display: flex;
    /* position: relative; */
  
}
.superstar {
    width: 300px;
    /* margin: 2rem 0.3rem; */
    position: relative;
  
}
.superstar img {
    width: 100%;
   
}
.title {
    position: absolute;
    left: 2rem;
    top:25rem;
    background-color: white;
    color: black;
    padding: 0.2rem;
}

.anthony-banner{
    width: 100%;
    position: relative;
    margin-bottom: 7.5rem;
    
}
.images {
    width: 100%px;
    height: 500px;
    position: relative;
    
}
.images img{
    width: 100%;
    object-fit: cover;
}
.anthony-title {
    width: 300px;
    position: absolute;
    top: 19rem;
    left: 5rem; 
}
.anthony-title h4 {
 background-color: white;
 display: inline;
 padding: 0.5rem;
}
.anthony-title p {
    background-color: white;
    margin: 1rem 0;   
    padding: 0.5rem;
}
.anthony-title button {
    padding: 0.5rem;
    border:1px solid white;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}
.top-buttons a {

    color: black;
    text-decoration: underline;
    padding: 0.4rem;
}
.new button {
    border: 1px solid black;
    color: black;
    padding: 0.5rem;
    background-color:white ;
    margin:0 0.2rem;
}
.shoes{
    width: 100%;
    display: flex;
    overflow-x: scroll;
}
.shoes-display{
    width: 272px;
    height: 358px;
    margin: 1rem 0;
    box-sizing: border-box;
}
.shoes-img {
    width: 270.5px;
    margin:  0 0.2rem 0 0;
    height: 270.5px;
}
.shoes-display img {
 width: 100%;
 object-fit: cover;
}
.shoes-display-description{
    padding: 0.4rem;
    margin: 0.4rem;
}
.shoes-display:hover {
    border: 1px solid black;
}
.shoes-display-description h5 {
   padding: 0.3rem;
}
.shoes-display-description a {
   font-size: 0.8rem;
   color: rgb(62, 60, 60);
   padding: 0.3rem;
}
.shoes-display-description p {
   font-size: 1rem;
   color: rgb(164, 162, 162);
   padding: 0.3rem;
   margin-bottom: 0.8rem;
}
.celebrity{
    width: 100%;
    display: flex; 
}
.celebrity-display{
    width: 272px;
    height: 500px;
    margin: 1rem 0.5rem;
    box-sizing: border-box;
}
.celebrity-img {
    width: 270.5px;
    margin:  0 0.2rem 0 0;
    height: 270.5px;
}
.celebrity-display img {
 width: 100%;
 object-fit: cover;
}
.celebrity-display-description{
    padding: 0.4rem;
    margin: 6rem 0;
}
.celebrity-display:hover {
    border: 1px solid black;
}


.celebrity-display-description h3 {
   padding: 0.3rem;
}
.celebrity-display-description a {
   font-size: 1rem;
   color: black;
   padding: 0.3rem;
   text-decoration: underline;
   font-weight: bold;
}
.celebrity-display-description p {
   font-size: 1rem;
   color: black;
   padding: 0.3rem;
   margin-bottom: 0.8rem;
}
.con h2 {
    margin: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.app {
    display: flex;
     position: relative;
     gap: 1rem;
}
.adidas-app {
    width: 200px;
    height: 200px;
    
}
.adidas-app img {
    width: 100%;
    object-fit: cover;
  
}
.app-description{
    position: absolute;
    top: 10rem;
    left:1rem ;
    background-color: white;
    padding: 0.3rem;
}

.app-description1{
    position: absolute;
    top: 10rem;
    left:14.4rem ;
    background-color: white;
    padding: 0.3rem;
}
.app-description2{
    position: absolute;
    top: 10rem;
    left:27.8rem ;
    background-color: white;
    padding: 0.3rem;
}
.bottom {
    display: flex;
    justify-content: space-between;
    margin: 5rem 2rem;
    
}
.element li {
    list-style: none;
    margin: 1rem 0;
    
}
